@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Josefin+Sans:ital@1&display=swap');

body{
    margin:0 ;
    padding: 0;
    display: flex;
    min-height: 100vh;
  

}

.particles-js-canvas-el{
    position: absolute;
}


section#particles-js{


    width: 100%;
    height: 100vh;
    background: 	#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    font-weight: 650;
    letter-spacing: 1.5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #b8860b;
}




